# OpenAI Configuration
OPENAI_API_KEY=your_openai_api_key_here
OPENAI_BASE_URL=https://api.openai.com/v1

# Pinecone Configuration
# Retrieve the following from the Pinecone Console.

# Navigate to API Keys under your Project to retrieve the API key
PINECONE_API_KEY=your_pinecone_api_key_here
PINECONE_ENVIRONMENT=gcp-starter
PINECONE_CLOUD=
PINECONE_REGION=

# Navigate to Indexes under your Project to retrieve the Index name
PINECONE_INDEX=your_index_name_here

# Application Configuration
NODE_ENV=production
PORT=3000
HOSTNAME=0.0.0.0
NEXT_TELEMETRY_DISABLED=1