OPENAI_API_KEY=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
PINECONE_API_KEY=pcsk_wDNkN_KdvcCc6uSn3Bvu2eZYoCQvX9nUmCG647cmm5tdd9piDKwZVn3S6hpbUP5VieBBF
PINECONE_INDEX=pdf-rag
PINECONE_ENVIRONMENT=us-east-1
PORT=8000